@page
@model Appointments.Razor.Pages.Admin.CreateModel
@{
    ViewData["Title"] = "Add Patient";
}

<h2>Add patient</h2>

<form method="post">
    <div>
        <label>FirstName:</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label>LastName:</label>
        <input asp-for="LastName" />
    </div>
    <button type="submit">Add</button>

    @if (Model.ErrorMessage != null)
    {
        <p style="color:red;">@Model.ErrorMessage</p>
    }

    @if (Model.SuccessMessage != null)
    {
        <p style="color:green;">@Model.SuccessMessage</p>
    }
</form>
